{% extends 'base.html' %}
{% block title %}{{ data.title }}{% endblock %}

{% block content %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-4">
                <img src="{{ data.image_url }}" alt="{{ data.title }} Image" class="img-fluid">
                <br/>
                <br/>
                <br/>
                <form action="{{ url_for('routes.watch_episode') }}" method="post">
                    <input type="hidden" name="title" value="{{ title }}">
                    <input type="hidden" name="episodes" value="{{ episodes }}">
                    <button type="submit" class="btn btn-primary ml-5">Watch Now</button>
                </form>                                                

            </div>
            <div class="col-md-8">
                <h2 class="text-white">{{ data.title}}</h2>
                <div class="row">
                    <div class="col-md-6">
                        <p class="text-white"><strong>{{ data.nameEng }}</strong></p>
                        <p class="text-white">{{anime}}</p>
                        <p class="text-white">{{data.rating}}</p>
                        <p class="text-white">{{ data.type }}</p>
                        <p class="text-white">{{ episodes }}</p>
                        <p class="text-white">{{ data.duration }}</p>
                        <p class="text-white">{{ data.synopsis }}</p>
                    </div>
                    <div class="col-md-6">
                        <p class="text-white"><strong>Japanese:</strong> {{ data.nameJap }}</p>
                        <p class="text-white"><strong>Premiered:</strong> {{ data.season }} {{ data.year }}</p>
                        <p class="text-white"><strong>Status:</strong> {{ data.status }}</p>
                        <p class="text-white"><strong>MAL Score:</strong> {{ data.score }}</p>
                        <p class="text-white"><strong>Genres:</strong> 
                            {% for genre in data.genres %}
                                {{ genre.name }}{% if not loop.last %}, {% endif %}
                            {% endfor %}
                        </p>
                        <p class="text-white"><strong>Studios:</strong> 
                            {% for studio in data.studios %}
                                {{ studio.name }}{% if not loop.last %}, {% endif %}
                            {% endfor %}
                        </p>
                        <p class="text-white"><strong>Producers:</strong> 
                            {% for producer in data.producers %}
                                {{ producer.name }}{% if not loop.last %}, {% endif %}
                            {% endfor %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
