{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="container mt-4 myframe align-self-stretch">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe id="episode-iframe" class="embed-responsive-item" src="{{ urls[0] ~ '-episode-1' }}" allowfullscreen></iframe>
        </div>
        <div class="d-flex flex-wrap">
            {% for episode in urls %}
            <a href="#" onclick="loadEpisode('{{ episode ~ '-episode-' ~ loop.index }}')" class="mr-2 mb-2">
                <div class="p-2 bg-danger text-white">{{ loop.index }}</div>
            </a>
            {% endfor %}
        </div>
    </div>

    <script>
        var episodeIframe = document.getElementById('episode-iframe');
        var episodes = {{ urls|tojson }};
        var defaultEpisodeUrl = episodes[0] + '-episode-1';

        function loadEpisode(url) {
            episodeIframe.src = url;
        }

        // Set default episode URL
        loadEpisode(defaultEpisodeUrl);
    </script>
{% endblock %}
