/* Default styles */
* {
  box-sizing: border-box;
}

body {
  background-color: #000;
}

.mynav {
  background-color: #ff0000;
}

.navbar-dark .navbar-nav .nav-link {
  color: #000;
  font-weight: bold;
}

.myform {
  background-color: black;
  color: white;
  text-align: center;
  font-weight: 500;
}

.container {
  max-width: 1518px;
}

.card,
.scrolling-card {
  margin: 10px;
  background-color: #000;
  border-radius: 5px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.card .card-img-container,
.scrolling-card .card-img-container {
  overflow: hidden;
  border-radius: 5px 5px 0 0;
}

.card .card-body,
.scrolling-card .card-body {
  padding: 10px;
  color: white;
}

.card .card-title,
.scrolling-card .card-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card .card-text,
.scrolling-card .card-text {
  font-size: 14px;
  color: #fff;
  margin-bottom: 5px;
}

.episode-button {
  width: 50px;
  height: 50px;
  text-decoration: none;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #FF0000;
  color: #FFFFFF;
  text-decoration: none;
}

/* Customizing the scrollbar for scrolling-wrapper */
.scrolling-wrapper {
  display: flex;
  overflow-x: scroll;
  gap: 20px;
  padding-bottom: 20px;
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: rgba(2, 255, 230) transparent; 
}

.scrolling-wrapper::-webkit-scrollbar {
  width: 15px;
}
 
.scrolling-wrapper::-webkit-scrollbar-thumb {
  background: rgb(255, 255, 255);
  border-radius: 8px; /* Added border-radius */
}

.scrolling-wrapper::-webkit-scrollbar-track {
  /* background: #fb2c2c; */
  background: transparent;
  border-radius: 8px; /* Added border-radius */
}

.scrolling-wrapper::-webkit-scrollbar-button {
  background: #ff0000;
  height: 15px;
  border-radius: 50%;
}


/* Recommendation section */
.recommendation-wrapper {
  overflow-x: auto;
  white-space: nowrap;
  padding-bottom: 20px;
}

.card-img {
  border-radius: 2rem;
}

.myCard {
  border-radius: 2rem;
}

/* Media queries */
@media (max-width: 768px) {
  .col-md-2 {
    flex: 0 0 50%;
    max-width: 50%;
    padding-right: 10px;
  }
  .scrolling-card,
  .card {
    flex: 0 0 calc(50% - 20px);
  }
}
